/* ========================= */
/* RESET */
/* ========================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Segoe UI",Tahoma,Geneva,Verdana,sans-serif;
}

body{

    min-height:100vh;

    background:
    radial-gradient(circle at top,#9f3bf6 0%,#1e3a8a 35%,#200649 100%);

    overflow:hidden;

}

/* ========================= */
/* CONTAINER */
/* ========================= */

.container{

    display:flex;

    height:100vh;

}

/* ========================= */
/* SIDEBAR */
/* ========================= */

.sidebar{

    width:280px;

    background:rgba(255,255,255,.12);

    backdrop-filter:blur(18px);

    border-right:1px solid rgba(255,255,255,.25);

    box-shadow:

    inset 0 1px rgba(255,255,255,.35),
    6px 0 25px rgba(0,0,0,.35);

    display:flex;

    flex-direction:column;

    justify-content:space-between;

    padding:25px;

}

/* ========================= */
/* LOGO */
/* ========================= */

.logo{

    text-align:center;

}

.logo h1{

    font-size:80%;

}

.logo h2{

    color:white;

    margin-top:10px;

}
.logo h6 {
    color: white;
    
}
.logo p{

    color:#dbeafe;

    margin-top:5px;

    font-size:14px;

}

/* ========================= */
/* MENU */
/* ========================= */

nav{

    margin-top:40px;

    display:flex;

    flex-direction:column;

    gap:12px;

}

.menu{

    border:none;

    padding:15px;

    border-radius:12px;

    cursor:pointer;

    font-size:15px;

    text-align:left;

    color:#1e293b;

    background:

    linear-gradient(#ffffff,#dbeafe);

    box-shadow:

    inset 0 1px rgba(255,255,255,.8),

    0 4px 10px rgba(0,0,0,.25);

    transition:.25s;

}

.menu:hover{

    transform:translateX(8px);

    background:

    linear-gradient(#ffffff,#bfdbfe);

}

.menu.ativo{

    background:

    linear-gradient(#8160fa,#6a25eb);

    color:white;

}

/* ========================= */
/* LOGOUT */
/* ========================= */

.logout button{

    width:100%;

    padding:15px;

    border:none;

    border-radius:12px;

    cursor:pointer;

    font-weight:bold;

    color:white;

    background:

    linear-gradient(#b944ef,#721cb9);

    box-shadow:

    inset 0 1px rgba(255,255,255,.4),

    0 5px 12px rgba(0,0,0,.35);

    transition:.25s;

}

.logout button:hover{

    transform:scale(1.03);

}

/* ========================= */
/* CONTEÚDO */
/* ========================= */

.conteudo{

    flex:1;

    padding:35px;

    overflow:auto;

}

/* Barra Aero */

.conteudo h1{

    color:white;

    margin-bottom:30px;

    padding:18px 25px;

    border-radius:15px;

    background:

    linear-gradient(

        rgba(255,255,255,.35),

        rgba(255,255,255,.08)

    );

    backdrop-filter:blur(15px);

    box-shadow:

    inset 0 1px rgba(255,255,255,.5),

    0 6px 20px rgba(0,0,0,.25);

}

/* ========================= */
/* CARDS */
/* ========================= */

.cards{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(230px,1fr));

    gap:20px;

}

.card{

    padding:30px;

    border-radius:18px;

    background:

    rgba(255,255,255,.18);

    backdrop-filter:blur(15px);

    border:1px solid rgba(255,255,255,.25);

    box-shadow:

    inset 0 1px rgba(255,255,255,.4),

    0 10px 25px rgba(0,0,0,.3);

    color:white;

    transition:.25s;

}

.card:hover{

    transform:translateY(-8px);

    box-shadow:

    0 18px 30px rgba(0,0,0,.35);

}

.card h3{

    margin-bottom:15px;

}

.card h2{

    font-size:45px;

}

/* ========================= */
/* FORMULÁRIOS */
/* ========================= */

input,
textarea{

    width:100%;

    margin-top:15px;

    margin-bottom:20px;

    padding:15px;

    border:none;

    border-radius:12px;

    background:rgba(255,255,255,.92);

    font-size:15px;

}

textarea{

    resize:vertical;

}

/* ========================= */
/* BOTÕES */
/* ========================= */

button{

    border:none;

    padding:14px 25px;

    border-radius:12px;

    cursor:pointer;

    color:white;

    font-weight:bold;

    background:

    linear-gradient(#7460fa,#7460fa);

    box-shadow:

    inset 0 1px rgba(255,255,255,.5),

    0 5px 15px rgba(0,0,0,.3);

    transition:.25s;

}

button:hover{

    filter:brightness(1.08);

    transform:translateY(-2px);

}

/* ========================= */
/* TABELAS */
/* ========================= */

table{

    width:100%;

    margin-top:20px;

    border-collapse:collapse;

    overflow:hidden;

    border-radius:15px;

    background:rgba(255,255,255,.15);

    backdrop-filter:blur(18px);

    color:white;

    box-shadow:

    0 10px 25px rgba(0,0,0,.3);

}

th{

    background:

    linear-gradient(#6f60fa,#3c25eb);

    padding:16px;

}

td{

    padding:15px;

    text-align:center;

    border-bottom:1px solid rgba(255,255,255,.12);

}

tr:hover{

    background:rgba(255,255,255,.12);

}

/* ========================= */
/* PÁGINAS */
/* ========================= */

.pagina{

    display:none;

    animation:fade .35s;

}

.pagina.ativa{

    display:block;

}

@keyframes fade{

    from{

        opacity:0;

        transform:translateY(20px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

/* ========================= */
/* SCROLLBAR */
/* ========================= */

::-webkit-scrollbar{

    width:10px;

}

::-webkit-scrollbar-thumb{

    background:#60a5fa;

    border-radius:20px;

}

::-webkit-scrollbar-track{

    background:#0f172a;

}
.logo-box img{

    width:140px;
    height:140px;

    

    border-radius:50%;

    padding:8px;

    display:block;

    box-shadow:0 8px 20px rgba(0,0,0,0.35);

}
.linha{

    margin:25px 0;

    border:none;

    height:1px;

    background:rgba(255,255,255,.3);

}

.topbar{

    height:70px;

    margin-bottom:30px;

    border-radius:18px;

    background:rgba(255,255,255,.18);

    backdrop-filter:blur(18px);

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 25px;

    color:white;

    box-shadow:0 8px 20px rgba(0,0,0,.3);

}

.top-info{

    font-weight:bold;

}

.logo-box{

    display:flex;

    justify-content:center;

}

.logo-box img{

    width:150px;

    height:150px;

    object-fit:cover;

    border-radius:50%;

    border:4px solid rgba(255,255,255,.4);

    box-shadow:

    0 0 25px rgba(255,255,255,.25),

    0 10px 20px rgba(0,0,0,.4);

    transition:.35s;

}

.logo-box img:hover{

    transform:scale(1.08) rotate(3deg);

}

.card{

    position:relative;

    overflow:hidden;

}

.card::before{

    content:"";

    position:absolute;

    top:0;

    left:0;

    width:100%;

    height:6px;

    background:linear-gradient(90deg,#8960fa,#7f14cc,#450e9c);

}

.icone{

    font-size:55px;

    margin-bottom:20px;

}

.card p{

    font-size:48px;

    font-weight:bold;

}

input:focus,
textarea:focus{

    outline:none;

    box-shadow:

    0 0 12px #8c60fa;

}